.hoverMe {
  background-color: #66FFBF;
  width: 30vh;
  height: 10vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

/* #reset {
background-color: #FF40FF;
text-align: center;
font-size: 3vh;
width: 30vh;
height: 10vh;
margin-top: 10vh;
margin-left: auto;
margin-right: auto;
} */


/* faire un triangle aucune utilité */
#reset{
 height : 0;
 width : 0;
 border-right : 87px solid transparent;
 border-bottom : 150px solid #FF40FF;
 border-left : 87px solid transparent;
 line-height: 2vh;
 margin-top: 10vh;
 margin-left: auto;
 margin-right: auto;
 text-align: left;
}
